/*FOOTER*/
.foot {
    margin-top: 1rem;
    color: $secundario-color;
    text-decoration: none;
    text-align: center;
    background-color: $terciario-color;
    font-family: "Sedan SC", serif;
    font-weight: bolder;
}