/* Tamaño de imagenes, lo puse con (ni) para no usar la ñ */
.imagenestamanio {
    width: 700px;
    height: 450px;
}

/* Tamaño de las imagenes de mcdonals y burguerkings */
.imagenes-mcyburg {
    width: 300px;
    height: 300px;
}

.imagenespequenias {
    width: 200px;
    height: 200px;
}