$fuentes: (
    f-principal: "Nunito",
    f-principal-n: "Sedan SC",
    )
    /*profe me podria dejar escrito por aqui como podria aplicar mi fuente importada de internet para luego colocarlo en todas las fuentes (font-family: "Sedan SC", serif; font-weight: bolder;) aqui y tener por ej:
f-principal: "Sedan SC"
f-principal: "Sedan SC bolder sample etc"*/
/*profe en algunos lados force los extend y maps ya que eran requisitos para el preentregable pero luego quiero quitarlos ya que no me sirven tanto como las variables y otras herramientas que si me sirven*/