/* TELEFONO */

@media only screen and (max-width: 400px) {

    body {

        background-color: $telefono-color;

        .carousel-inner img {
            max-width: 400px;
            height: 350px;
        }

        .galeria {
            grid-template-columns: 1fr;
            grid-template-rows: repeat(3, 13rem)
        }

        .extlet {
            font-size: 20px;
            color: $secundario-color;
        }

        .precios {
            font-size: 25px;
        }

        .link-compras {
            font-size: 25px;
        }

        .foot {
            padding-top: 5px;
            font-size: 11px;
        }

        .imagenestamanio {
            width: 400px;
            height: 250px;
        }

        .titulos1 {
            font-size: 20px;
            color: $secundario-color;
        }

        .parrafos1 {
            font-size: 16px;
            color: $secundario-color;
        }

        .link-empresa {
            width: 350px;
        }

        .imagenes-mcyburg {
            @include sizes (200px, 200px)
        }
    }
}

/* TABLET */
@media only screen and (min-width: 401px) and (max-width: 900px) {

    body {

        background-color: $tablet-color;

        .carousel-inner img {
            max-width: 48rem;
            height: 350px;
        }

        .imagenestamanio {
            width: 400px;
            height: 250px;
        }

        .foot {
            padding-top: 5px;
            font-size: 15px;
        }

        .extlet {
            font-size: 20px;
            color: $secundario-color;
        }

        .precios {
            font-size: 20px;
        }

        .link-compras {
            font-size: 25px;
        }

        .titulos1 {
            font-size: 23px;
            color: $secundario-color;
        }

        .parrafos1 {
            font-size: 18px;
            color: $secundario-color;
        }

        .link-empresa {
            width: 350px;
        }

        .imagenes-mcyburg {
            @include sizes (250px, 250px)
        }
    }
}