/* Zona de navegacion */
.navegacion {
    background: linear-gradient(to right, #00aec5, #366196);
    font-weight: bolder;
    font-family: "Sedan SC", serif;
    color: $secundario-color;
    font-size: 1.3rem;
}