/* Zona de navegacion */
.navegacion {
    background: linear-gradient(to right, #0000ff, #00ffff);
    /*background-color: $terciario-color;*/
    font-weight: bolder;
    font-family: "Sedan SC", serif;
    color: $secundario-color;
    font-size: 1.3rem;
}