/*COLORES*/
$primario-color: darkslategrey;
$secundario-color: black;
$terciario-color: grey;
$compra-color: rgb(140, 247, 140);
$empresa-color: rgb(224, 224, 224);
$tablet-color: rgba(209, 209, 209, 0.877);
$telefono-color: rgb(182, 182, 182);