* {
    padding: 0;
    margin: 0;
}

/*Telefonos*/
@media only screen and (max-width: 400px) {
    body {
        background-color: grey;
    }

    .carousel-inner img {
        max-width: 400px;
        height: 350px;
    }

    .foot {
        font-size: 11px;
    }

    .imagenestamanio {
        width: 400px;
        height: 250px;
    }

    .titulos1 {
        color: black;
    }

    .parrafos1 {
        color: black;
    }

    .link-empresa {
        width: 350px;
    }
}

/*Tablets*/
@media only screen and (min-width: 401px) and (max-width: 900px) {
    body {
        background-color: rgba(255, 187, 0, 0.877);
    }

    .carousel-inner img {
        max-width: 48rem;
        height: 350px;
    }

    .imagenestamanio {
        width: 400px;
        height: 250px;
    }

    .titulos1 {
        color: black;

    }

    .parrafos1 {
        color: black;
    }

    .link-empresa {
        width: 350px;
    }
}

/*Zona de navegacion*/
.navegacion {
    background-color: rgb(104, 104, 104);
    font-weight: bolder;
    font-family: "Sedan SC", serif;
    color: black;
    font-size: 1.3rem;
}

.link-compras {
    font-weight: bolder;
    font-family: "Sedan SC", serif;
    color: black;
    background-color: rgb(140, 247, 140);
    font-size: 40px;
    text-decoration: none;
}

.estructurap1 {
    display: flex;
}

.link-empresa {
    text-align: center;
    display: inline-block;
    background-color: rgb(224, 224, 224);
}

/* logo */
.logo--propio {
    width: 45px;
    height: 45px;
    margin-right: 1.3rem;
}

/*Todas las estructuras*/
.estructurap1 {
    color: darkslategrey;
    display: contents;
    text-align: center;
}

/*Todos los titulos*/
.titulos1 {
    font-weight: bold;
    font-size: 32px;
    display: block;
    text-align: center;
}

.parrafos1 {
    font-size: 22px;
    display: inline-block;
}

/*Tamaño de imagenes, lo puse con (ni) para no usar la ñ*/
.imagenestamanio {
    width: 700px;
    height: 450px;

}

/*Tamaño de las imagenes de mcdonals y burguerkings*/
.imagenes-mcyburg {
    width: 300px;
    height: 300px;
}

.foot {
    margin-top: 20px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    background-color: grey;
    font-family: "Sedan SC", serif;
    text-decoration: none;
    font-weight: bolder;
}

.carrusel {
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
}